@charset "utf-8";
/* CSS Document */
/*重置*/
*{ font-family:"微软雅黑";}
body{ margin: 0; padding: 0;}
a{ text-decoration:none;}
ul,li{ list-style: none; margin: 0; padding: 0;}
img{ margin: 0; padding: 0;}
input,select{ margin: 0; padding: 0; outline:none;}
/*main*/
.tr_bg{ background:#ffff99;}
.main{ width: 100%; height: 184px;}
.main ul{ width: 1086px; height: 124px; padding: 30px 0; margin: auto; overflow: hidden;}
.main ul .li1{ float: left; height: 28px; overflow: hidden; display: inline-block; margin-right: 20px; margin-bottom: 20px;}
.main ul .li2{ float: left; height: 28px; overflow: hidden; display: inline-block; margin-right: 20px; margin-bottom: 20px; margin-left:40px;}
.main .li1 label{ font-size: 16px; color: #333; font-weight:normal; text-align: right;  float: left; margin-right: 10px; line-height: 22px; width:110px;}
.main .li1 input{ width: 222px; height: 22px; border: 0; border: solid 1px #ccc;}
.main .li2 label{ font-size: 12px; color: #666; line-height: 28px; float: left; margin: 0 20px 0 5px;}
.main .li2 input{ width: 14px; height: 14px; border: 0;border: solid 1px #ccc; float: left; margin-top: 7px;}
.main button{ width: 90px; height: 22px; font-size: 12px;}
/*table*/
.ma_ta{width:96%; padding:10px 0;overflow:auto; margin:auto; font-size:12px; color:#333; text-align:center; white-space:nowrap; margin:auto;}
.ma_ta table{ border-top:solid 1px #666; border-left:solid 1px #666; border-right:solid 1px #666; margin:auto; min-width:1100px;border-collapse:inherit;}
.ma_ta .first_tr div{ background:#003333; color:#ccc;}
.ma_ta div{ font-family:"微软雅黑"; font-size:12px; color:#333; display:block; text-align:center; height:28px; line-height:28px; padding:0 20px; border-bottom:solid 1px #666; }
.ma_ta div a{ color:#0000ff; cursor:pointer;}
.ma_ta .tb_cz{ padding:0 50px 0 200px;}

.td_zg{ overflow:hidden; height:28px; background:#fff; line-height:28px; position:relative;}
.td_zg ul{overflow:hidden;}
.t_div1{ float:left;}
.t_div2{ overflow:hidden; float:left; margin-left:20px;}
.t_div2 img{ float:left; margin-top:8px;}
.t_div2 span{ float:left; font-size:14px; font-weight:bold; margin-left:10px; margin-right:10px;}
.t_div3{ float:left; font-size:12px; margin-left:20px;}
.t_div3 input{ width:40px; outline:none; height:20px; line-height: 20px;}
.t_div4{ width:180px; font-size:12px; position:absolute; left:50%; margin-left:-90px; text-align:center;}

.fh{ width:96%; margin:auto; overflow:hidden;}
.fh button{ width: 90px; height: 28px; font-size: 12px; margin-top:30px; float:right; margin-left:20px;}

/*新增页面*/
.zd{ background:#ccc;}
.zx_yy{ width:100%; height:100%; position:fixed; z-index:10; top:0; left:0; background:rgba(0,0,0,0.5); display:none;}
.xz_div_z{ width:700px; overflow:hidden; position:absolute; left:50%; margin-left:-350px; top:50%; border:solid 1px #003333;}
.xz_div0{ width:100%; height:100%; overflow:auto;background:#fff;}
.xz_div1{ width:680px; margin:auto;}
.xz_title{ width:100%; height:30px; background:#003333; position:relative;}
.xz_title img{ position:absolute; top:8px; right:10px;}

.xz_ul{ overflow:hidden; margin-top:30px;}
.xz_ul li{ float:left;color:#ff003a; margin-bottom: 20px;}
.xz_ul label{font-size: 16px; color: #666; text-align: right;margin-right: 5px; line-height: 18px; width:96px; float:left; font-weight: normal;}
.xz_ul input{width: 220px; height: 22px; border: 0; border: solid 1px #ccc;}
.xz_ul select{width: 222px; height: 22px; border: 0; border: solid 1px #ccc;}
.xz_ul textarea{width: 540px; height: 100px; border: 0; border: solid 1px #ccc;resize: none;}

.but{ width:300px; margin:auto; margin-bottom:20px;margin-top:20px;}
.but button{ width:90px; height:26px; font-size:12px; margin-left:40px;}


/*查看页面*/
.ck_yy{width:100%; height: 100%; position:fixed; z-index:10; top:0; left:0; background:rgba(0,0,0,0.5); display:none;}
.ck_div{ width:905px;position:absolute; top:50%; margin-top:-250px; left:50%; margin-left:-454px;border-radius:6px 6px 0 0; overflow:hidden;}
.ck_ul{ border-top:solid 1px #003333;border-left:solid 1px #003333; overflow:hidden;}
.ck_li{ float:left; overflow:hidden;}
.ck_span1{ display:block; float:left; width:123px; height:38px; color:#333; font-size:16px; text-align:center; line-height:38px; border-bottom:solid 1px #666;border-right:solid 1px #666; background:url(../img/u155.png);}
.ck_span2{ display:block; float:left; width:329px; height:38px; color:#333; font-size:16px; text-align:center; line-height:38px;border-bottom:solid 1px #666;border-right:solid 1px #666; background:#fff; }
